{% extends 'cinemas_repertoire/index.html' %}
{% load crispy_forms_tags %}
{% load cinemas_repertoire %}
{% block content %}

    <h2 class="custom-date" align="center">{{ date|date:"D d.m" }}</h2>
    <form action="#" method="GET" class="cinemaChoice" novalidate>
        {{ cinema_form }}
        {{ date_form }}
    </form>
    <p></p>
    <div class="container">
        <table id="repertoir" class="display compact">
            <thead>
            <tr>
                <th>Godzina</th>
                <th>Tytuł</th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.event_datetime|date:"G:i" }}</td>
                    <td><a href="{% url "repertoire:film_detail" slug=event.cc_film_id %}">{{ event.cc_film.name }}</a>
                        <p style="font-size: x-small">({{ event.attribute_ids|show_audio_video_attrs }})</p>
                        <a href="{{ event.booking_link }}"><i class="fas fa-shopping-basket"
                                                             style="color: Mediumslateblue;"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            $('#id_cinema_id').on('change', function () {
                $('form.cinemaChoice').submit()
            });
        })
    </script>
{% endblock %}
