<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Repertuar Cinema City</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.css"/>
    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.css"/>
    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/colreorder/1.5.0/css/colReorder.dataTables.css"/>
    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/fixedcolumns/3.2.5/css/fixedColumns.dataTables.css"/>
    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/fixedheader/3.1.4/css/fixedHeader.dataTables.css"/>
    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/keytable/2.5.0/css/keyTable.dataTables.css"/>
    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/responsive/2.2.2/css/responsive.dataTables.css"/>
    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/rowgroup/1.1.0/css/rowGroup.dataTables.css"/>
    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/rowreorder/1.2.4/css/rowReorder.dataTables.css"/>
    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/scroller/2.0.0/css/scroller.dataTables.css"/>
    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/select/1.3.0/css/select.dataTables.css"/>
    <link rel="stylesheet" href="{% static "cinemas_repertoire/css/index.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Rock+Salt&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kalam|Literata&display=swap" rel="stylesheet">
</head>
<body class="custom-body">

{% block content %}
{% endblock content %}

<footer class="custom-footer"></footer>

{% block scripts %}
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://kit.fontawesome.com/1ef0159c12.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.colVis.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/colreorder/1.5.0/js/dataTables.colReorder.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/fixedcolumns/3.2.5/js/dataTables.fixedColumns.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/fixedheader/3.1.4/js/dataTables.fixedHeader.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/keytable/2.5.0/js/dataTables.keyTable.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/responsive/2.2.2/js/dataTables.responsive.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/rowgroup/1.1.0/js/dataTables.rowGroup.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/rowreorder/1.2.4/js/dataTables.rowReorder.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/scroller/2.0.0/js/dataTables.scroller.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/select/1.3.0/js/dataTables.select.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('#repertoir').DataTable({
                search: {
                    "caseInsensitive": true
                },
                fixedHeader: true,
                pageLength: -1,
                paging: false,
                info: false,
            });
        });
    </script>
{% endblock scripts %}
</body>
</html>